.center {
  align-self: center;
}

ul {
  display: flex;
  flex-direction: row;
  width: auto;
}

li {
  list-style-type: none;
  padding: 3em;
}
.middle-left {
  padding-right: 10em;
}

.middle-right {
  padding-left: 10em;
}
